ul.nav{
    list-style-type:none;
    margin:0px;
    padding-top: 10px;
    overflow: hidden;
    background-color: black;
    width:250px;
    height:1250px;
    position: fixed;
    top: 0;
    left: 0;
}
li.nav{
    float:top;
    padding-top: 10px;
}

a.nav{
    padding:10px;
    text-decoration:none;
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-size:20px;
}
.nav{
    width: auto;
    height:50px;
    
}
body{
    background-image: linear-gradient(to right, teal, rgb(128, 0, 128));
}
.active{
    background-color: rgba(78, 76, 76, 0.724);
    border-radius: 2px;
}
button.topics{
    border-style:double;
    border-color:white;
    width:100%;
    height: 100px;
    margin: auto;
    text-decoration: none;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0);
    color:white;
    border-radius: 50px;
}
ul.formula{
    list-style-type:disc;
    color: white;
    font-size: 35px;
}
table.formula{
    table-layout: fixed;
    border-style: double;
}
td.formula{
  border:1px solid;
}
.back{
    position:fixed;
    bottom:10px;
    right:10px;
    background-color: rgba(0, 0, 0, 0);
    border-style:none;
}
.profile{
    position: fixed;
    top:13px;
    left:15px;
    height:5px;
    width:5px;
}
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    text-align: center;
}
#nav{
    border:none;
}
.closebtn{
    margin-inline-start: 200px;
}
#menu{
    display:inline-block;
    position: fixed;
    color:white;
    top:25px;
    left:25px;
    width: 50px;
    height: 50px;
    font-size: 40px;
}
#navbar{
    position: absolute;
    top: 0;
    left: 0;
}
.profile_validate{
    position: absolute;
    width: 40%;
    height:80%;
    top:12.5%;
    left:30%;
}
p.register{
    color:white;
    font-size: 40px;
    text-align: center;
}
.inbox{
    width:97%;
    background-color:rgba(0, 0, 0, 0);
    border-style: none;
    border-bottom-style: groove;
    height:25px;
    border-color:white;
    font-size:25px;
    margin-top:35px;
    color: white;
}
::placeholder{
    color:white;
}
.registerer{
    width:97%;
    height:50px;
    border-radius: 30px;
    margin-top: 35px;
    border-style: none;
    font-size: 20px;
}
.login{
    font-size: 20px;
    color: white;
    text-decoration: none;
    position:relative;
    left:40%;
    top:25px;
}